<div class="container-fluid">
    <header>

    </header>
    <div>
        <section class="featured">
            <h2>Todays Featured Video</h2>
            <article ng-repeat="(index, video) in featured.items">
                <h2>{{video.snippet.title}}</h2>
                <div class="feature" data-video="{{embedurl}}{{video.id.videoId}}">
                    <iframe height="480" ng-src="{{getIframeSrc(video.id.videoId)}}" frameborder="0" allowfullscreen></iframe>
                </div>
                <p>{{video.snippet.description}}</p>
            </article>
        </section>
        <section class="latest">
            <h2>My Latest Content</h2>
            <article ng-repeat="(index, video) in latest.items" style="background-image: url('{{video.snippet.thumbnails.medium.url}}');">
                <h2>{{video.snippet.title}}</h2>
                <p>{{video.snippet.description}}</p>
            </article>
        </section>
        <section class="activity">
            <h2>My Latest Activity</h2>
            <article ng-repeat="activity in activities.items">
                <span class="type">{{activity.snippet.type.charAt(0).toUpperCase() + activity.snippet.type.slice(1)}}</span>
                <h2>{{activity.snippet.title}}</h2>
                <p>{{activity.snippet.description}}</p>
            </article>
        </section>
    </div>
</div>