<div class="container-fluid">
    <header>

    </header>
    <div>
        <h2>Todays Featured Video</h2>
        <section class="featured">
            <article ng-repeat="(index, video) in featured.items">
                <h2>{{video.snippet.title}}</h2>
                <div class="feature" data-video="{{embedurl}}{{video.id.videoId}}">
                    <iframe height="480" ng-src="{{getIframeSrc(video.id.videoId)}}" frameborder="0" allowfullscreen></iframe>
                </div>
                <p>{{video.snippet.description}}</p>
            </article>
        </section>
        <h2>My Latest Content</h2>
        <section class="latest">
            <article ng-repeat="(index, video) in latest.items">
                <a ng-href="#"></a>
                <img src="{{video.snippet.thumbnails.medium.url}}" width="{{video.snippet.thumbnails.medium.width}}" height="{{video.snippet.thumbnails.medium.height}}" alt="Thumbnail {{video.snippet.title}}" />
                <h2>{{video.snippet.title}}</h2>
            </article>
        </section>
        <h2>My Latest Activity</h2>
        <section class="activity">
            <article ng-repeat="activity in activities.items">
                <h3 class="type">{{activity.snippet.type.charAt(0).toUpperCase() + activity.snippet.type.slice(1)}}</h3>
                <a ng-href="#"></a>
                <img src="{{activity.snippet.thumbnails.medium.url}}" width="{{activity.snippet.thumbnails.medium.width}}" height="{{activity.snippet.thumbnails.medium.height}}" alt="Thumbnail {{activity.snippet.title}}" />
                <h2>{{activity.snippet.title}}</h2>
            </article>
        </section>
    </div>
</div>