<div class="container-fluid playlists" ng-controller="PlaylistsController">
    <h1>{{'Playlists'}}</h1>
    <div>
        <section>
            <article ng-repeat="item in playlists.items">
                <img src="{{item.snippet.thumbnails.medium.url}}" width="{{item.snippet.thumbnails.medium.width}}" height="{{item.snippet.thumbnails.medium.height}}" alt="Thumbnail {{item.snippet.title}}" />
                <h2>{{item.snippet.title}}</h2>
                <a ui-sref="playlist-details({'id' : item.id})" ng-click="rememberPlayListTitle(item.snippet.title)"></a>
            </article>
        </section>
    </div>
</div>